#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {

        // Thumb key behaviors from Mark Stosberg's layout
        gui_ent: gui_enter {
            compatible = "zmk,behavior-hold-tap";
            label = "GUI_ENTER";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;
        };

        low_tab: lower_tab {
            compatible = "zmk,behavior-hold-tap";
            label = "LOWER_TAB";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&kp>;
        };

        rse_bsp: raise_backspace {
            compatible = "zmk,behavior-hold-tap";
            label = "RAISE_BACKSPACE";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&kp>;
        };

        ctl_esc: control_escape {
            compatible = "zmk,behavior-hold-tap";
            label = "CONTROL_ESCAPE";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <19 20>;
            bindings = <&kp ESC>;
            layers = <0>;
        };
        combo_bootloader_left {
            timeout-ms = <1000>;
            key-positions = <1 2 3>;
            bindings = <&bootloader>;
            layers = <0>;
        };
        combo_bootloader_right {
            timeout-ms = <1000>;
            key-positions = <6 7 8>;
            bindings = <&bootloader>;
            layers = <0>;
        };
        combo_reset_left {
            timeout-ms = <1000>;
            key-positions = <13 14 15>;
            bindings = <&sys_reset>;
            layers = <0>;
        };
        combo_reset_right {
            timeout-ms = <1000>;
            key-positions = <18 19 20>;
            bindings = <&sys_reset>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
                &kp TAB   &kp Q     &kp W     &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I     &kp O     &kp P     &kp DEL
                &sk LALT  &kp A     &kp S     &kp D     &kp F     &kp G     &kp H     &kp J     &kp K     &kp L     &kp SQT   &sk RALT
                &sk LSHFT &kp Z     &kp X     &kp C     &kp V     &kp B     &kp N     &kp M     &kp COMMA &kp DOT   &kp SLASH &sl 3
                &none     &none     &none     &sk LCTRL &gui_ent LGUI ENTER &low_tab 1 TAB &rse_bsp 2 BSPC &kp SPC   &sk LSHFT &none     &none     &none
            >;
        };

        lower_layer {
            display-name = "Lower";
            bindings = <
                &trans    &kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT &kp CARET &kp AMPS  &kp ASTRK &kp LPAR  &kp RPAR  &trans
                &trans    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &trans
                &trans    &trans    &kp TILDE &kp GRAVE &kp LBKT  &kp LBRC  &kp RBRC  &kp RBKT  &kp COMMA &kp DOT   &kp SLASH &trans
                &trans    &trans    &trans    &trans    &trans    &mo 1     &trans    &trans    &kp COLON &kp SEMI &trans    &trans
            >;
        };

        raise_layer {
            display-name = "Raise";
            bindings = <
                &trans    &kp DEL   &kp INS   &kp UNDER &kp PLUS  &kp PG_UP &trans    &trans    &trans    &kp BSLH  &kp PIPE  &trans
                &trans    &kp HOME  &kp END   &kp MINUS &kp EQUAL &kp PG_DN &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT &kp K_APP &trans
                &trans    &kp LT    &kp GT    &kp K_COPY&kp K_PASTE&kp SEMI &mkp LCLK &mkp RCLK &mkp MCLK &kp K_VOL_DN &kp K_VOL_UP &trans
                &trans    &trans    &trans    &ctl_esc LCTRL ESC &trans    &mo 2     &trans    &trans    &trans    &trans    &trans    &trans
            >;
        };

        func_layer {
            display-name = "Func";
            bindings = <
                &trans    &kp F1    &kp F2    &kp F3    &kp F4    &kp F5    &kp F6    &kp F7    &kp F8    &kp F9    &kp F10   &trans
                &trans    &kp F11   &kp F12   &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
                &trans    &kp CAPS  &kp LS(DEL) &kp LC(INS) &kp LS(INS) &trans    &trans    &trans    &trans    &trans    &bootloader &trans
                &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
            >;
        };
    };
};
