config SHIELD_COSMOS_LEFT
    def_bool $(shields_list_contains,cosmos_left)

config SHIELD_COSMOS_RIGHT
    def_bool $(shields_list_contains,cosmos_right)

config SHIELD_COSMOS
    def_bool $(shields_list_contains,cosmos_left) || $(shields_list_contains,cosmos_right)
